---
---
@import "bootstrap";

body {
    font-size: 14px;
}

// Mixins
@mixin white-text {
    color: #fff;
}


.green-jumbotron {
    @include white-text;
    background-color: #4caf50;
    background-image: linear-gradient(to bottom, #4caf50 0, #5cb85c 100%);
}

.blue-jumbotron {
    @include white-text;
    background-color: #0d87e9;
    background-image: linear-gradient(to bottom, #0d87e9 0, #2196f3 100%);
}

.grey-jumbotron {
    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom, #e5e5e5 0, #f0f0f0, 100%);
}


.green-jumbotron > h1,
.blue-jumbotron > h1 {
    @include white-text;
}


.footer {
}
