<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/rseleeds.css">
    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">RSE Leeds</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info & discussion<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Classifieds</a></li>
                                    <li><a href="#">Tools</a></li>
                                    <li><a href="#">Programming languages</a></li>
                                    <li><a href="#">Applications &amp; libraries</a></li>
                                    <li><a href="#">Licensing</a></li>
                                    <li><a href="#">Research methods</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            {{ content }}

        </div> <!-- container -->
        <!-- Load JS code at the end of the document to minimise DOM rendering time. -->
        <script src="/assets/js/bootstrap.min.js?v=3.3.7"></script>

    </body>
</html>

